In [3]:
import pandas as pd
df=pd.read_csv("pari1.csv")
df

   S.no   Name  Age Fav Cartoon Gender
0     1    Anu   19     Doremon      F
1     2   Pari   21       Ninja      F
2     3   Manu    7        Dora      M
3     4  Jessi   10     Pokemon      F
4     5   Jack   11        Ferb      M
5     6   Jhon   16       Micky      M
6     7   Katy   23       Minni      M
7     8  Milon   30      Donald      M
8     9   Hydi   13       Goofy      F
9    10   Elle    4        Motu      F

In [4]:
print(df.groupby(["Gender"]).mean())

        S.no   Age
Gender
F        5.2  13.4
M        5.8  17.4

In [6]:
a=df.groupby(["Gender","Fav Cartoon"])
print(a.groups)

{('F', 'Doremon'): [0], ('F', 'Goofy'): [8], ('F', 'Motu'): [9], ('F', 'Ninja'): [1], ('F', 'Pokemon'): [3], ('M', 'Donald'): [7], ('M', 'Dora'): [2], ('M', 'Ferb'): [4], ('M', 'Micky'): [5], ('M', 'Minni'): [6]}

In [7]:
print(df.groupby(["Gender"]).max())

        S.no   Name  Age Fav Cartoon
Gender
F         10   Pari   21     Pokemon
M          8  Milon   30       Minni

In [8]:
print(df.groupby(["Fav Cartoon"]).groups)

{'Donald': [7], 'Dora': [2], 'Doremon': [0], 'Ferb': [4], 'Goofy': [8], 'Micky': [5], 'Minni': [6], 'Motu': [9], 'Ninja': [1], 'Pokemon': [3]}

In [10]:
a=df.groupby(["Gender"])
print(a.get_group("M"))

   S.no   Name  Age Fav Cartoon Gender
2     3   Manu    7        Dora      M
4     5   Jack   11        Ferb      M
5     6   Jhon   16       Micky      M
6     7   Katy   23       Minni      M
7     8  Milon   30      Donald      M

In [11]:
df["Gender"].value_counts()

F    5
M    5
Name: Gender, dtype: int64