In [1]:
import pandas as pd
df=pd.read_csv("dataformat.csv")
print(df)

      Name  Age              Place
0      Anu   19         Sompeta,AP
1     Pari   21  Mumbai,Maharastra
2     Manu    8        Sompeta, AP
3    Jessi   11            SPT, AP
4   Aayush   12          Mumbai,MH
5  Aashish   10         MUMBAI, MH

In [2]:
df.dtypes

Name     object
Age       int64
Place    object
dtype: object

In [3]:
df["Place"]=df["Place"].astype('string')

In [4]:
df.dtypes

Name     object
Age       int64
Place    string
dtype: object

In [5]:
c=df.select_dtypes(include=object).columns.tolist()
df[c]=df[c].astype('string')

In [6]:
df.dtypes

Name     string
Age       int64
Place    string
dtype: object

In [7]:
df["Name"]=df["Name"].str.lower()

In [8]:
df["Name"]

0        anu
1       pari
2       manu
3      jessi
4     aayush
5    aashish
Name: Name, dtype: string

In [9]:
df["Place"]=df["Place"].str.replace(" ","")

In [10]:
df["Place"]

0           Sompeta,AP
1    Mumbai,Maharastra
2           Sompeta,AP
3               SPT,AP
4            Mumbai,MH
5            MUMBAI,MH
Name: Place, dtype: string

In [11]:
df["Place"].unique()

<StringArray>
['Sompeta,AP', 'Mumbai,Maharastra', 'SPT,AP', 'Mumbai,MH', 'MUMBAI,MH']
Length: 5, dtype: string

In [12]:
import re
def set_pattern(x):
    pattern=r'[(A-Z)]\w+,([A-Z])\w+'
    res=re.match(pattern,x)
    if res:
        x=x.replace(',',",")
        return x

In [13]:
df["Place"]=df.apply(lambda x:set_pattern(x["Place"]),axis=1)

In [14]:
df["Place"]

0           Sompeta,AP
1    Mumbai,Maharastra
2           Sompeta,AP
3               SPT,AP
4            Mumbai,MH
5            MUMBAI,MH
Name: Place, dtype: object